@charset "UTF-8";
/* BASE - Base styles, variables, mixins, etc */
/** Used Fonts **/
/** OpenSansRegular **/
@font-face {
  font-family: "OpenSansRegular";
  src: url("../fonts/OpenSansRegular/OpenSansRegular.eot");
  src: url("../fonts/OpenSansRegular/OpenSansRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansRegular/OpenSansRegular.woff") format("woff"), url("../fonts/OpenSansRegular/OpenSansRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/** OpenSansBold **/
@font-face {
  font-family: "OpenSansBold";
  src: url("../fonts/OpenSansBold/OpenSansBold.eot");
  src: url("../fonts/OpenSansBold/OpenSansBold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansBold/OpenSansBold.woff") format("woff"), url("../fonts/OpenSansBold/OpenSansBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/** OpenSansItalic **/
@font-face {
  font-family: "OpenSansItalic";
  src: url("../fonts/OpenSansItalic/OpenSansItalic.eot");
  src: url("../fonts/OpenSansItalic/OpenSansItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansItalic/OpenSansItalic.woff") format("woff"), url("../fonts/OpenSansItalic/OpenSansItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/** OpenSansSemiBold **/
@font-face {
  font-family: "OpenSansSemiBold";
  src: url("../fonts/OpenSansSemiBold/OpenSansSemiBold.eot");
  src: url("../fonts/OpenSansSemiBold/OpenSansSemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansSemiBold/OpenSansSemiBold.woff") format("woff"), url("../fonts/OpenSansSemiBold/OpenSansSemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/** Bradobrei **/
@font-face {
  font-family: 'Bradobrei';
  src: url("../fonts/bradobrei/bradobrei.eot");
  src: local("☺"), url("../fonts/bradobrei/bradobrei.woff") format("woff"), url("../fonts/bradobrei/bradobrei.ttf") format("truetype"), url("../fonts/bradobrei/bradobrei.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

/** DR2 font **/
@font-face {
  font-family: 'DR2-font';
  src: url("../fonts/DR2-font/DR2-font.eot");
  src: local("☺"), url("../fonts/DR2-font/DR2-font.woff") format("woff"), url("../fonts/DR2-font/DR2-font.ttf") format("truetype"), url("../fonts/DR2-font/DR2-font.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

/** Mixins **/
/** Variables Style Used **/
/** Fonts **/
/* New */
/* End New */
/** Color **/
/* New */
/* End New */
/** Background **/
/* New */
/* End New */
/** Border Color **/
/** Normolize Style Used **/
/* line 3, D:/MyProjects/DRConcept2/scss/base/_normolize.scss */
* {
  box-sizing: border-box;
}

/* line 7, D:/MyProjects/DRConcept2/scss/base/_normolize.scss */
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
blockquote,
big,
body,
center,
canvas,
caption,
cite,
code,
command,
datalist,
dd,
del,
details,
dfn,
dl,
div,
dt,
em,
embed,
fieldset,
figcaption,
figure,
font,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
keygen,
label,
legend,
li,
meter,
nav,
object,
ol,
output,
p,
pre,
progress,
q,
s,
samp,
section,
small,
span,
source,
strike,
strong,
sub,
sup,
table,
tbody,
tfoot,
thead,
th,
tr,
tdvideo,
tt,
u,
ul,
var {
  background: transparent;
  border: 0 none;
  font-size: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: top;
}

/* line 99, D:/MyProjects/DRConcept2/scss/base/_normolize.scss */
ol,
ul {
  list-style: none;
}

/* line 104, D:/MyProjects/DRConcept2/scss/base/_normolize.scss */
blockquote,
q {
  quotes: none;
}

/* line 109, D:/MyProjects/DRConcept2/scss/base/_normolize.scss */
table,
table td {
  padding: 0;
  border: none;
  border-collapse: collapse;
}

/* line 116, D:/MyProjects/DRConcept2/scss/base/_normolize.scss */
img {
  vertical-align: top;
}

/* line 120, D:/MyProjects/DRConcept2/scss/base/_normolize.scss */
embed {
  vertical-align: top;
}

/* line 124, D:/MyProjects/DRConcept2/scss/base/_normolize.scss */
input[type=text],
input[type=email],
textarea {
  outline: none;
  border-radius: 0;
}

/* line 131, D:/MyProjects/DRConcept2/scss/base/_normolize.scss */
textarea {
  margin: 0;
}

/* line 135, D:/MyProjects/DRConcept2/scss/base/_normolize.scss */
button {
  border: 0;
}

/* line 139, D:/MyProjects/DRConcept2/scss/base/_normolize.scss */
a {
  text-decoration: none;
}

/* line 143, D:/MyProjects/DRConcept2/scss/base/_normolize.scss */
address {
  font-style: normal;
}

/* line 147, D:/MyProjects/DRConcept2/scss/base/_normolize.scss */
s {
  text-decoration: none;
}

/* line 152, D:/MyProjects/DRConcept2/scss/base/_normolize.scss */
.clearfix::after {
  content: "";
  display: block;
  width: 100%;
  height: 0;
  clear: both;
}

/* line 159, D:/MyProjects/DRConcept2/scss/base/_normolize.scss */
.clearfix > .left {
  float: left;
}

/* line 162, D:/MyProjects/DRConcept2/scss/base/_normolize.scss */
.clearfix > .right {
  float: right;
}

/* line 167, D:/MyProjects/DRConcept2/scss/base/_normolize.scss */
.bx-wrapper {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 0;
  background: transparent;
}

/* line 175, D:/MyProjects/DRConcept2/scss/base/_normolize.scss */
.bx-wrapper .bx-controls-direction a {
  top: 119%;
  width: 24px;
  height: 18px;
}

/* line 181, D:/MyProjects/DRConcept2/scss/base/_normolize.scss */
.bx-wrapper .bx-prev {
  left: 0;
  background: url(../image/sl-ctrl.png) no-repeat;
  background-position: 0 0;
}

/* line 185, D:/MyProjects/DRConcept2/scss/base/_normolize.scss */
.bx-wrapper .bx-prev:hover {
  background-position: 0 -25px;
}

/* line 190, D:/MyProjects/DRConcept2/scss/base/_normolize.scss */
.bx-wrapper .bx-next {
  right: 0;
  left: 55px;
  background: url(../image/sl-ctrl.png) no-repeat;
  background-position: -43px 0;
}

/* line 195, D:/MyProjects/DRConcept2/scss/base/_normolize.scss */
.bx-wrapper .bx-next:hover {
  background-position: -43px -25px;
}

/* line 200, D:/MyProjects/DRConcept2/scss/base/_normolize.scss */
.bx-wrapper .bx-pager-item {
  width: 10px;
  height: 10px;
  margin-right: 30px;
  text-align: center;
}

/* line 207, D:/MyProjects/DRConcept2/scss/base/_normolize.scss */
.bx-wrapper .bx-pager.bx-default-pager a {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin: 2px 0 0;
  background: #ffffff;
  -moz-transition: all 0.3s linear 0.1s;
  -webkit-transition: all 0.3s linear 0.1s;
  transition: all 0.3s linear 0.1s;
}

/* line 215, D:/MyProjects/DRConcept2/scss/base/_normolize.scss */
.bx-wrapper .bx-pager.bx-default-pager a.active, .bx-wrapper .bx-pager.bx-default-pager a:hover {
  margin-top: 0;
  width: 10px;
  height: 10px;
  background: #eb3857;
  -moz-transition: all 0.3s linear 0.1s;
  -webkit-transition: all 0.3s linear 0.1s;
  transition: all 0.3s linear 0.1s;
}

/* line 225, D:/MyProjects/DRConcept2/scss/base/_normolize.scss */
.bx-wrapper .bx-pager {
  bottom: -84px;
}

/* line 229, D:/MyProjects/DRConcept2/scss/base/_normolize.scss */
.fancybox-is-open .fancybox-bg {
  opacity: .4;
}

/** Base Style Used **/
/* line 3, D:/MyProjects/DRConcept2/scss/base/_base.scss */
body {
  position: relative;
  font: 14px/19px "OpenSansRegular";
  color: #4c4c4c;
}

/* line 9, D:/MyProjects/DRConcept2/scss/base/_base.scss */
.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

/* line 16, D:/MyProjects/DRConcept2/scss/base/_base.scss */
s {
  position: relative;
}

/* line 18, D:/MyProjects/DRConcept2/scss/base/_base.scss */
s::after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  display: block;
  width: 100%;
  height: 1px;
  background: #FFFFFF;
}

/* line 30, D:/MyProjects/DRConcept2/scss/base/_base.scss */
h2,
.h2 {
  display: inline-block;
  text-align: center;
  position: relative;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

/* line 37, D:/MyProjects/DRConcept2/scss/base/_base.scss */
h2::after,
.h2::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  display: block;
  width: 60px;
  height: 5px;
  margin-left: -30px;
  background: #eb3857;
}

/* line 50, D:/MyProjects/DRConcept2/scss/base/_base.scss */
.title {
  text-align: center;
  position: relative;
  z-index: 2;
}

/* line 54, D:/MyProjects/DRConcept2/scss/base/_base.scss */
.title p {
  font: 24px/29px "OpenSansRegular";
  color: #010101;
}

/* line 60, D:/MyProjects/DRConcept2/scss/base/_base.scss */
.subheading {
  font: 18px/23px "OpenSansBold";
  color: #000000;
}

/* line 65, D:/MyProjects/DRConcept2/scss/base/_base.scss */
.modal-form {
  display: none;
  padding: 0;
  overflow: initial;
  background: #36184f;
}

/* line 70, D:/MyProjects/DRConcept2/scss/base/_base.scss */
.modal-form h3,
.modal-form .h3 {
  color: #ffffff;
  text-align: center;
  margin-bottom: 40px;
}

/* line 77, D:/MyProjects/DRConcept2/scss/base/_base.scss */
.modal-form#modal-form-success h3,
.modal-form#modal-form-success .h3 {
  text-align: left;
  margin-bottom: 10px;
  text-transform: uppercase;
}

/* line 83, D:/MyProjects/DRConcept2/scss/base/_base.scss */
.modal-form#modal-form-success .text {
  font: 14px/19px 'OpenSansItalic';
  color: #FFFFFF;
}

/* line 88, D:/MyProjects/DRConcept2/scss/base/_base.scss */
.modal-form#modal-form-error {
  background: #b80909;
}

/* line 90, D:/MyProjects/DRConcept2/scss/base/_base.scss */
.modal-form#modal-form-error h3,
.modal-form#modal-form-error .h3 {
  margin-bottom: 10px;
  text-transform: uppercase;
}

/* line 95, D:/MyProjects/DRConcept2/scss/base/_base.scss */
.modal-form#modal-form-error .text {
  font: 14px/19px 'OpenSansItalic';
  color: #FFFFFF;
  text-align: center;
}

/* line 103, D:/MyProjects/DRConcept2/scss/base/_base.scss */
.loading {
  background: url("../image/loading.gif") no-repeat center center;
  background-size: 100px 100px;
  box-shadow: inset 0 0 8px 1px rgba(0, 0, 0, 0.2);
}

/* line 109, D:/MyProjects/DRConcept2/scss/base/_base.scss */
.video-wrap {
  height: 100%;
  width: 100%;
}

/* MODULES - Individual site components */
/** Typography Style **/
/* line 3, D:/MyProjects/DRConcept2/scss/modules/_typography.scss */
h1,
.h1 {
  font: 90px/95px 'Bradobrei';
  color: #FFFFFF;
  text-transform: uppercase;
}

/* line 10, D:/MyProjects/DRConcept2/scss/modules/_typography.scss */
p.h1 {
  font: 160px/165px 'Klementina' !important;
  color: #341a4e;
  text-transform: uppercase;
}

/* line 16, D:/MyProjects/DRConcept2/scss/modules/_typography.scss */
h2,
.h2 {
  font: 48px/53px "Bradobrei";
  color: #341a4e;
  text-transform: uppercase;
}

/* line 23, D:/MyProjects/DRConcept2/scss/modules/_typography.scss */
h3,
.h3 {
  font: 24px/29px "Bradobrei";
  color: #341a4e;
}

/** Components Style Used **/
/** Text Background Style **/
/* line 6, D:/MyProjects/DRConcept2/scss/modules/_components.scss */
.text-bg {
  position: absolute;
  top: 30px;
  width: 100%;
  text-align: center;
  z-index: 1;
  opacity: 0.05;
}

/* line 13, D:/MyProjects/DRConcept2/scss/modules/_components.scss */
.text-bg p {
  display: inline-block;
  font: 149px/154px "Bradobrei";
  color: #FFFFFF;
  text-transform: uppercase;
}

/** Sign Play Style **/
/* line 24, D:/MyProjects/DRConcept2/scss/modules/_components.scss */
.sign-play {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: transparent;
}

/* line 31, D:/MyProjects/DRConcept2/scss/modules/_components.scss */
.sign-play::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 66px;
  height: 66px;
  margin: -33px 0 0 -33px;
  background: url("../image/sign-play-video.png") no-repeat;
}

/** Icon Style **/
/* line 47, D:/MyProjects/DRConcept2/scss/modules/_components.scss */
.icon {
  display: inline-block;
  margin-left: 17px;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.4);
  color: #ffffff;
  text-align: center;
  margin-top: -5px;
  -moz-transition: all 0.3s linear 0.1s;
  -webkit-transition: all 0.3s linear 0.1s;
  transition: all 0.3s linear 0.1s;
}

/* line 61, D:/MyProjects/DRConcept2/scss/modules/_components.scss */
.icon i {
  vertical-align: middle;
  font-size: 16px;
  line-height: 26px;
}

/* line 66, D:/MyProjects/DRConcept2/scss/modules/_components.scss */
.icon:hover {
  background: #FFFFFF;
  color: #341a4e;
  -moz-transition: all 0.3s linear 0.1s;
  -webkit-transition: all 0.3s linear 0.1s;
  transition: all 0.3s linear 0.1s;
}

/** Form Style **/
/* line 79, D:/MyProjects/DRConcept2/scss/modules/_components.scss */
.form {
  padding: 18px;
}

/* line 81, D:/MyProjects/DRConcept2/scss/modules/_components.scss */
.form form {
  display: block;
  width: 100%;
  max-width: 416px;
  padding: 48px;
  margin: 0 auto;
}

/* line 87, D:/MyProjects/DRConcept2/scss/modules/_components.scss */
.form form input {
  border: 0;
  outline: none;
  text-indent: 3px;
}

/* line 91, D:/MyProjects/DRConcept2/scss/modules/_components.scss */
.form form input:focus {
  outline: none;
}

/* line 94, D:/MyProjects/DRConcept2/scss/modules/_components.scss */
.form form input[type=text], .form form input[type=email] {
  font: 14px/19px 'OpenSansItalic';
  color: #ffffff;
  width: 100%;
  padding: 10px;
  background: transparent;
}

/* line 102, D:/MyProjects/DRConcept2/scss/modules/_components.scss */
.form form input.btn.btn-red {
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  text-align: center;
  margin: 43px 0 0 0;
  cursor: pointer;
}

/* line 112, D:/MyProjects/DRConcept2/scss/modules/_components.scss */
.form .field-wrap {
  width: 100%;
  border-bottom: 1px solid #FFFFFF;
  margin-bottom: 30px;
}

/* line 116, D:/MyProjects/DRConcept2/scss/modules/_components.scss */
.form .field-wrap:nth-last-child(2) {
  margin-bottom: 0;
}

/* line 123, D:/MyProjects/DRConcept2/scss/modules/_components.scss */
.owerlay-bg {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

/* line 134, D:/MyProjects/DRConcept2/scss/modules/_components.scss */
.header-center.active {
  z-index: 3;
}

/* line 136, D:/MyProjects/DRConcept2/scss/modules/_components.scss */
.header-center.active address {
  position: absolute;
  top: 50px;
  right: -20px;
  display: block;
  width: 200px;
  padding: 20px;
  background: transparent;
  text-align: center;
  border: 1px solid #ffffff;
}

/* line 146, D:/MyProjects/DRConcept2/scss/modules/_components.scss */
.header-center.active address::after {
  display: none;
}

/* line 152, D:/MyProjects/DRConcept2/scss/modules/_components.scss */
.header-right.active {
  z-index: 3;
}

/* line 154, D:/MyProjects/DRConcept2/scss/modules/_components.scss */
.header-right.active .link-phone {
  position: absolute;
  top: 50px;
  right: -20px;
  display: block;
  width: 200px;
  padding: 20px;
  background: transparent;
  text-align: center;
  margin: 0;
  border: 1px solid #ffffff;
}

/* line 165, D:/MyProjects/DRConcept2/scss/modules/_components.scss */
.header-right.active .link-phone span {
  line-height: 30px;
}

/* line 167, D:/MyProjects/DRConcept2/scss/modules/_components.scss */
.header-right.active .link-phone span.time {
  text-align: center;
}

/** Any Blocks Style **/
/* line 4, D:/MyProjects/DRConcept2/scss/modules/_blocks.scss */
.modal-form form {
  min-width: 420px;
}

/* line 6, D:/MyProjects/DRConcept2/scss/modules/_blocks.scss */
.modal-form form .btn.btn-red {
  margin-top: 53px !important;
  margin-bottom: 27px !important;
}

/* line 11, D:/MyProjects/DRConcept2/scss/modules/_blocks.scss */
.modal-form .fancybox-close-small {
  top: -40px;
  right: -40px;
}

/* line 14, D:/MyProjects/DRConcept2/scss/modules/_blocks.scss */
.modal-form .fancybox-close-small::after {
  content: "";
  width: 33px;
  height: 31px;
  background: url("../image/close-btn.png") no-repeat transparent;
}

/* line 21, D:/MyProjects/DRConcept2/scss/modules/_blocks.scss */
.modal-form .text {
  margin-bottom: 30px;
}

/** Buttons Style **/
/* line 3, D:/MyProjects/DRConcept2/scss/modules/_buttons.scss */
.btn {
  display: inline-block;
}

/* line 5, D:/MyProjects/DRConcept2/scss/modules/_buttons.scss */
.btn.btn-call {
  font: 12px/17px "OpenSansBold";
  color: #FFFFFF;
  padding: 5px 29px;
  border: 2px solid #FFFFFF;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  -moz-transition: all 0.3s linear 0.1s;
  -webkit-transition: all 0.3s linear 0.1s;
  transition: all 0.3s linear 0.1s;
}

/* line 12, D:/MyProjects/DRConcept2/scss/modules/_buttons.scss */
.btn.btn-call:hover {
  background: #FFFFFF;
  color: #eb3857;
  -moz-transition: all 0.3s linear 0.1s;
  -webkit-transition: all 0.3s linear 0.1s;
  transition: all 0.3s linear 0.1s;
}

/* line 18, D:/MyProjects/DRConcept2/scss/modules/_buttons.scss */
.btn.btn-red {
  text-transform: uppercase;
  color: #ffffff;
  background: #fa4b39;
  /* Old Browsers */
  background: -webkit-linear-gradient(left, #fa4b39, #df2771);
  /*Safari 5.1-6*/
  background: -o-linear-gradient(left, #fa4b39, #df2771);
  /*Opera 11.1-12*/
  background: -moz-linear-gradient(left, #fa4b39, #df2771);
  /*Fx 3.6-15*/
  background: linear-gradient(to right, #fa4b39, #df2771);
  /*Standard*/
  padding: 22px 85px;
  margin-bottom: 35px;
  font: 16px/16px "OpenSansBold";
  letter-spacing: 1px;
  box-shadow: 0 13px 29px 0 rgba(170, 50, 75, 0.23);
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  -moz-transition: all 0.3s linear 0.1s;
  -webkit-transition: all 0.3s linear 0.1s;
  transition: all 0.3s linear 0.1s;
}

/* line 38, D:/MyProjects/DRConcept2/scss/modules/_buttons.scss */
.btn.btn-red:hover {
  box-shadow: 0 13px 29px 0 rgba(170, 50, 75, 0.5);
  -moz-transition: all 0.3s linear 0.1s;
  -webkit-transition: all 0.3s linear 0.1s;
  transition: all 0.3s linear 0.1s;
}

/** Sections Style **/
/** First Section **/
/* line 6, D:/MyProjects/DRConcept2/scss/modules/_sections.scss */
.first-section {
  position: relative;
}

/* line 8, D:/MyProjects/DRConcept2/scss/modules/_sections.scss */
.first-section .base-img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

/* line 14, D:/MyProjects/DRConcept2/scss/modules/_sections.scss */
.first-section .base-img img {
  width: 100%;
  height: 100%;
}

/* line 19, D:/MyProjects/DRConcept2/scss/modules/_sections.scss */
.first-section .img-filter {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: url("../image/section-1-elem-1-bg.png");
  background-size: 100%;
}

/* line 28, D:/MyProjects/DRConcept2/scss/modules/_sections.scss */
.first-section .img-bottom-elem {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

/* line 34, D:/MyProjects/DRConcept2/scss/modules/_sections.scss */
.first-section .img-bottom-elem::before, .first-section .img-bottom-elem::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
}

/* line 44, D:/MyProjects/DRConcept2/scss/modules/_sections.scss */
.first-section .img-bottom-elem::before {
  background: url("../image/section-1-elem-3-bg.png") no-repeat;
  background-position: bottom right;
}

/* line 49, D:/MyProjects/DRConcept2/scss/modules/_sections.scss */
.first-section .text-bg {
  text-transform: uppercase;
  top: 37%;
}

/* line 55, D:/MyProjects/DRConcept2/scss/modules/_sections.scss */
.first-section-wrap {
  padding-bottom: 305px;
  background-position: 81.7% 26%;
}

/* line 58, D:/MyProjects/DRConcept2/scss/modules/_sections.scss */
.first-section-wrap .container {
  position: relative;
}

/* line 61, D:/MyProjects/DRConcept2/scss/modules/_sections.scss */
.first-section-wrap p {
  font: 18px/23px 'OpenSansRegular';
  margin-bottom: 66px;
  color: #FFFFFF;
  text-align: center;
}

/* line 66, D:/MyProjects/DRConcept2/scss/modules/_sections.scss */
.first-section-wrap p strong {
  font-family: 'OpenSansBold';
  font-size: 29.91px;
}

/* line 69, D:/MyProjects/DRConcept2/scss/modules/_sections.scss */
.first-section-wrap p strong i,
.first-section-wrap p strong em {
  font-size: 9.49px;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  display: inline-block;
  margin-right: -7px;
  margin-top: 2px;
}

/* line 82, D:/MyProjects/DRConcept2/scss/modules/_sections.scss */
.first-section-wrap h1,
.first-section-wrap .h1 {
  padding-top: 260px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
}

/* line 89, D:/MyProjects/DRConcept2/scss/modules/_sections.scss */
.first-section-wrap .text {
  text-align: center;
}

/* line 91, D:/MyProjects/DRConcept2/scss/modules/_sections.scss */
.first-section-wrap .text .btn.btn-red {
  margin-left: 15px;
}

/* line 95, D:/MyProjects/DRConcept2/scss/modules/_sections.scss */
.first-section-wrap .subtitle {
  font: 30px/35px 'OpenSansRegular';
  margin-bottom: 60px;
  color: #FFFFFF;
  text-align: center;
}

/* line 101, D:/MyProjects/DRConcept2/scss/modules/_sections.scss */
.first-section-wrap div.img {
  position: absolute;
  top: 0;
  right: 0;
}

/** Second Section Style **/
/* line 111, D:/MyProjects/DRConcept2/scss/modules/_sections.scss */
.second-section {
  position: relative;
  padding: 100px 0;
  background-position: -200px -140px;
}

/* line 115, D:/MyProjects/DRConcept2/scss/modules/_sections.scss */
.second-section .title {
  margin-bottom: 60px;
}

/* line 118, D:/MyProjects/DRConcept2/scss/modules/_sections.scss */
.second-section ul {
  margin-bottom: 35px;
}

/* line 120, D:/MyProjects/DRConcept2/scss/modules/_sections.scss */
.second-section ul li {
  display: inline-block;
  max-width: 195px;
  margin-right: 25px;
}

/* line 124, D:/MyProjects/DRConcept2/scss/modules/_sections.scss */
.second-section ul li .number {
  font: 36px/36px "Bradobrei";
  color: #341a4e;
  position: relative;
  margin-bottom: 10px;
}

/* line 129, D:/MyProjects/DRConcept2/scss/modules/_sections.scss */
.second-section ul li .number::after {
  content: "";
  position: absolute;
  top: 15px;
  right: 0;
  z-index: -1;
  display: block;
  width: 100%;
  height: 1px;
  background: rgba(235, 56, 87, 0.5);
}

/* line 140, D:/MyProjects/DRConcept2/scss/modules/_sections.scss */
.second-section ul li .number span {
  background: #ffffff;
  padding-right: 30px;
}

/* line 145, D:/MyProjects/DRConcept2/scss/modules/_sections.scss */
.second-section ul li .subheading {
  margin-bottom: 15px;
}

/* line 148, D:/MyProjects/DRConcept2/scss/modules/_sections.scss */
.second-section ul li .text {
  padding-right: 5px;
}

/** Third Section Style **/
/* line 158, D:/MyProjects/DRConcept2/scss/modules/_sections.scss */
.third-section {
  position: relative;
  padding: 200px 0 250px;
  background: #f7f7f7;
}

/* line 162, D:/MyProjects/DRConcept2/scss/modules/_sections.scss */
.third-section .bg-rot-white-top {
  background: #ffffff;
  width: 100%;
  height: 165px;
  position: absolute;
  top: -90px;
  left: 0;
  transform: skew(0, 4deg);
}

/* line 171, D:/MyProjects/DRConcept2/scss/modules/_sections.scss */
.third-section .bg-rot-white-bot {
  background: #ffffff;
  width: 100%;
  height: 165px;
  position: absolute;
  bottom: -90px;
  left: 0;
  transform: skew(0, -4deg);
}

/* line 180, D:/MyProjects/DRConcept2/scss/modules/_sections.scss */
.third-section .title {
  margin-bottom: 60px;
}

/* line 183, D:/MyProjects/DRConcept2/scss/modules/_sections.scss */
.third-section .container {
  text-align: center;
}

/* line 186, D:/MyProjects/DRConcept2/scss/modules/_sections.scss */
.third-section .item {
  display: inline-block;
  max-width: 360px;
  text-align: left;
  margin-right: 23px;
  margin-bottom: 30px;
}

/* line 192, D:/MyProjects/DRConcept2/scss/modules/_sections.scss */
.third-section .item:last-child {
  margin-right: 0;
}

/* line 195, D:/MyProjects/DRConcept2/scss/modules/_sections.scss */
.third-section .item .img {
  overflow: hidden;
  margin-bottom: 25px;
}

/* line 198, D:/MyProjects/DRConcept2/scss/modules/_sections.scss */
.third-section .item .img img {
  max-width: 100%;
  -moz-transition: all 0.3s linear 0.1s;
  -webkit-transition: all 0.3s linear 0.1s;
  transition: all 0.3s linear 0.1s;
}

/* line 206, D:/MyProjects/DRConcept2/scss/modules/_sections.scss */
.third-section .item .img:hover img {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
  -moz-transition: all 0.3s linear 0.1s;
  -webkit-transition: all 0.3s linear 0.1s;
  transition: all 0.3s linear 0.1s;
}

/* line 215, D:/MyProjects/DRConcept2/scss/modules/_sections.scss */
.third-section .item .subheading {
  margin-bottom: 10px;
}

/** Fourth Section Style **/
/* line 224, D:/MyProjects/DRConcept2/scss/modules/_sections.scss */
.fourth-section {
  position: relative;
  padding: 45px 0 150px;
}

/* line 227, D:/MyProjects/DRConcept2/scss/modules/_sections.scss */
.fourth-section .title {
  margin-bottom: 55px;
}

/* line 230, D:/MyProjects/DRConcept2/scss/modules/_sections.scss */
.fourth-section .sign-play {
  background: url("../image/section-1-elem-1-bg.png");
}

/* line 233, D:/MyProjects/DRConcept2/scss/modules/_sections.scss */
.fourth-section .left,
.fourth-section .right {
  display: inline-block;
}

/* line 237, D:/MyProjects/DRConcept2/scss/modules/_sections.scss */
.fourth-section .left {
  max-width: 750px;
}

/* line 240, D:/MyProjects/DRConcept2/scss/modules/_sections.scss */
.fourth-section .right {
  padding-left: 100px;
  position: relative;
}

/* line 243, D:/MyProjects/DRConcept2/scss/modules/_sections.scss */
.fourth-section .right::before {
  content: "";
  position: absolute;
  top: 60px;
  left: -110.5px;
  display: block;
  width: 205px;
  height: 1px;
  background: rgba(235, 56, 87, 0.5);
}

/* line 253, D:/MyProjects/DRConcept2/scss/modules/_sections.scss */
.fourth-section .right .list-title {
  color: #4c4c4c;
  margin-top: 48px;
  margin-bottom: 40px;
}

/* line 258, D:/MyProjects/DRConcept2/scss/modules/_sections.scss */
.fourth-section .right ul {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 20px;
  -moz-column-gap: 20px;
  column-gap: 20px;
  margin-bottom: 40px;
}

/* line 266, D:/MyProjects/DRConcept2/scss/modules/_sections.scss */
.fourth-section .right ul li {
  position: relative;
  padding-left: 17px;
}

/* line 269, D:/MyProjects/DRConcept2/scss/modules/_sections.scss */
.fourth-section .right ul li::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 15px;
  height: 1px;
  background: #4c4c4c;
}

/* line 280, D:/MyProjects/DRConcept2/scss/modules/_sections.scss */
.fourth-section .right ul a {
  font: 16px/35px 'OpenSansRegular';
  color: #4c4c4c;
  position: relative;
}

/* line 284, D:/MyProjects/DRConcept2/scss/modules/_sections.scss */
.fourth-section .right ul a:hover, .fourth-section .right ul a.active {
  color: #341a4e;
}

/* line 288, D:/MyProjects/DRConcept2/scss/modules/_sections.scss */
.fourth-section .right ul a:hover::after, .fourth-section .right ul a.active::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  display: block;
  width: 100%;
  height: 1px;
  background: #341a4e;
}

/* line 302, D:/MyProjects/DRConcept2/scss/modules/_sections.scss */
.fourth-section .btn.btn-red {
  padding: 15px 67px;
}

/** Fifth Section Style **/
/* line 310, D:/MyProjects/DRConcept2/scss/modules/_sections.scss */
.fifth-section {
  position: relative;
  background-color: #3d2a50;
  padding: 75px 0 85px;
  color: #FFFFFF;
}

/* line 315, D:/MyProjects/DRConcept2/scss/modules/_sections.scss */
.fifth-section .bg-rot-white-top {
  background: #3d2a50;
  width: 100%;
  height: 140px;
  position: absolute;
  top: -68px;
  left: 0;
  transform: skew(0, -4deg);
}

/* line 324, D:/MyProjects/DRConcept2/scss/modules/_sections.scss */
.fifth-section .bg-rot-white-bot {
  background: #3d2a50;
  width: 100%;
  height: 140px;
  position: absolute;
  bottom: -70px;
  left: 0;
  transform: skew(0, 4deg);
  z-index: -60;
}

/* line 334, D:/MyProjects/DRConcept2/scss/modules/_sections.scss */
.fifth-section .title {
  margin-bottom: 55px;
}

/* line 336, D:/MyProjects/DRConcept2/scss/modules/_sections.scss */
.fifth-section .title h2,
.fifth-section .title .h2 {
  color: #FFFFFF;
}

/* line 340, D:/MyProjects/DRConcept2/scss/modules/_sections.scss */
.fifth-section .title p {
  color: #FFFFFF;
}

/* line 346, D:/MyProjects/DRConcept2/scss/modules/_sections.scss */
.fifth-section .rev-slider li .video {
  display: inline-block;
  max-width: 653px;
}

/* line 350, D:/MyProjects/DRConcept2/scss/modules/_sections.scss */
.fifth-section .rev-slider li a {
  position: relative;
  display: inline-block;
}

/* line 353, D:/MyProjects/DRConcept2/scss/modules/_sections.scss */
.fifth-section .rev-slider li a img {
  max-width: 100%;
}

/* line 357, D:/MyProjects/DRConcept2/scss/modules/_sections.scss */
.fifth-section .rev-slider li .peaple {
  display: inline-block;
  padding-left: 65px;
  text-align: center;
  position: relative;
  max-width: 40%;
  margin-bottom: 30px;
}

/* line 364, D:/MyProjects/DRConcept2/scss/modules/_sections.scss */
.fifth-section .rev-slider li .peaple::before {
  content: "";
  position: absolute;
  left: -120px;
  top: 85px;
  display: block;
  width: 165px;
  height: 1px;
  background: rgba(235, 56, 87, 0.5);
}

/* line 376, D:/MyProjects/DRConcept2/scss/modules/_sections.scss */
.fifth-section .rev-slider li .peaple .text-wrap p.subheading {
  margin-bottom: 10px;
  text-align: left;
  color: #FFFFFF;
}

/* line 381, D:/MyProjects/DRConcept2/scss/modules/_sections.scss */
.fifth-section .rev-slider li .peaple .text-wrap p.text {
  font-size: 16px;
  text-align: left;
}

/* line 387, D:/MyProjects/DRConcept2/scss/modules/_sections.scss */
.fifth-section .rev-slider li .peaple img {
  max-width: 100%;
  margin-bottom: 25px;
}

/** Sixth Section Style **/
/* line 399, D:/MyProjects/DRConcept2/scss/modules/_sections.scss */
.sixth-section {
  position: relative;
  padding: 200px 0 50px;
}

/* line 402, D:/MyProjects/DRConcept2/scss/modules/_sections.scss */
.sixth-section .title {
  margin-bottom: 85px;
}

/* line 405, D:/MyProjects/DRConcept2/scss/modules/_sections.scss */
.sixth-section ul {
  text-align: center;
}

/* line 407, D:/MyProjects/DRConcept2/scss/modules/_sections.scss */
.sixth-section ul li {
  display: inline-block;
  max-width: 180px;
  text-align: left;
  margin-right: 30px;
}

/* line 412, D:/MyProjects/DRConcept2/scss/modules/_sections.scss */
.sixth-section ul li:last-child {
  margin-right: 0;
}

/* line 415, D:/MyProjects/DRConcept2/scss/modules/_sections.scss */
.sixth-section ul li .img {
  height: 39px;
  margin-bottom: 10px;
}

/* line 418, D:/MyProjects/DRConcept2/scss/modules/_sections.scss */
.sixth-section ul li .img img {
  max-height: 100%;
  max-width: 100%;
}

/* line 423, D:/MyProjects/DRConcept2/scss/modules/_sections.scss */
.sixth-section ul li .subheading {
  margin-bottom: 10px;
}

/** Seventh Section Style **/
/* line 433, D:/MyProjects/DRConcept2/scss/modules/_sections.scss */
.seventh-section {
  position: relative;
  padding: 100px 0;
}

/* line 436, D:/MyProjects/DRConcept2/scss/modules/_sections.scss */
.seventh-section .title {
  margin-bottom: 75px;
}

/* line 439, D:/MyProjects/DRConcept2/scss/modules/_sections.scss */
.seventh-section .bg-rot-white-bot {
  background: #FFFFFF;
  width: 100%;
  height: 140px;
  position: absolute;
  bottom: -70px;
  left: 0;
  transform: skew(0, 4deg);
  z-index: 1;
}

/* line 449, D:/MyProjects/DRConcept2/scss/modules/_sections.scss */
.seventh-section .container-wrap {
  margin-bottom: 165px;
}

/* line 452, D:/MyProjects/DRConcept2/scss/modules/_sections.scss */
.seventh-section .video,
.seventh-section .img {
  display: inline-block;
  max-width: 555px;
}

/* line 457, D:/MyProjects/DRConcept2/scss/modules/_sections.scss */
.seventh-section .video {
  position: relative;
}

/* line 460, D:/MyProjects/DRConcept2/scss/modules/_sections.scss */
.seventh-section .img {
  margin-left: 21px;
}

/* line 462, D:/MyProjects/DRConcept2/scss/modules/_sections.scss */
.seventh-section .img a {
  display: inline-block;
  max-width: 263px;
  margin-bottom: 30px;
}

/* line 466, D:/MyProjects/DRConcept2/scss/modules/_sections.scss */
.seventh-section .img a:nth-child(even) {
  margin-left: 25px;
}

/* line 469, D:/MyProjects/DRConcept2/scss/modules/_sections.scss */
.seventh-section .img a:nth-last-child(2), .seventh-section .img a:last-child {
  margin-bottom: 0;
}

/* line 474, D:/MyProjects/DRConcept2/scss/modules/_sections.scss */
.seventh-section .img img {
  display: inline-block;
  max-width: 263px;
}

/* line 479, D:/MyProjects/DRConcept2/scss/modules/_sections.scss */
.seventh-section .bx-wrapper .bx-pager.bx-default-pager a {
  background: #cccccc;
}

/* line 481, D:/MyProjects/DRConcept2/scss/modules/_sections.scss */
.seventh-section .bx-wrapper .bx-pager.bx-default-pager a.active, .seventh-section .bx-wrapper .bx-pager.bx-default-pager a:hover {
  background: #eb3857;
}

/** Eighth Section Style **/
/* line 491, D:/MyProjects/DRConcept2/scss/modules/_sections.scss */
.eighth-section {
  position: relative;
  background: #f7f7f7;
  padding: 155px 0 90px;
}

/* line 495, D:/MyProjects/DRConcept2/scss/modules/_sections.scss */
.eighth-section .text-bg {
  top: 115px;
  opacity: 0.5;
}

/* line 499, D:/MyProjects/DRConcept2/scss/modules/_sections.scss */
.eighth-section .title {
  margin-bottom: 60px;
}

/* line 502, D:/MyProjects/DRConcept2/scss/modules/_sections.scss */
.eighth-section .bx-wrapper .bx-pager.bx-default-pager a {
  background: #cccccc;
}

/* line 504, D:/MyProjects/DRConcept2/scss/modules/_sections.scss */
.eighth-section .bx-wrapper .bx-pager.bx-default-pager a.active, .eighth-section .bx-wrapper .bx-pager.bx-default-pager a:hover {
  background: #eb3857;
}

/* line 509, D:/MyProjects/DRConcept2/scss/modules/_sections.scss */
.eighth-section .subheading {
  font-size: 16px;
}

/* line 512, D:/MyProjects/DRConcept2/scss/modules/_sections.scss */
.eighth-section .img,
.eighth-section .text-block {
  display: inline-block;
}

/* line 516, D:/MyProjects/DRConcept2/scss/modules/_sections.scss */
.eighth-section .img {
  width: 50%;
  max-width: 293px;
  position: relative;
  padding-right: 98px;
  padding-left: 15px;
}

/* line 522, D:/MyProjects/DRConcept2/scss/modules/_sections.scss */
.eighth-section .img::after {
  content: "";
  position: absolute;
  right: 36px;
  top: 56px;
  display: block;
  width: 48px;
  height: 1px;
  background: rgba(235, 56, 87, 0.5);
}

/* line 532, D:/MyProjects/DRConcept2/scss/modules/_sections.scss */
.eighth-section .img img {
  width: 100%;
}

/* line 536, D:/MyProjects/DRConcept2/scss/modules/_sections.scss */
.eighth-section .text-block {
  max-width: 750px;
  margin-top: -5px;
}

/* line 539, D:/MyProjects/DRConcept2/scss/modules/_sections.scss */
.eighth-section .text-block .text {
  line-height: 26px;
  margin-bottom: 25px;
}

/** Ninth Section Style **/
/* line 549, D:/MyProjects/DRConcept2/scss/modules/_sections.scss */
.ninth-section {
  position: relative;
  padding: 180px 0 295px;
}

/* line 552, D:/MyProjects/DRConcept2/scss/modules/_sections.scss */
.ninth-section::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 105px;
  background: url("../image/section-9-elem-bg.png") no-repeat;
}

/* line 562, D:/MyProjects/DRConcept2/scss/modules/_sections.scss */
.ninth-section .text-bg {
  top: 285px;
}

/* line 565, D:/MyProjects/DRConcept2/scss/modules/_sections.scss */
.ninth-section .title {
  margin-bottom: 54px;
}

/* line 568, D:/MyProjects/DRConcept2/scss/modules/_sections.scss */
.ninth-section .base-img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

/* line 574, D:/MyProjects/DRConcept2/scss/modules/_sections.scss */
.ninth-section .base-img img {
  width: 100%;
  height: 100%;
}

/* line 579, D:/MyProjects/DRConcept2/scss/modules/_sections.scss */
.ninth-section .img-filter {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url("../image/section-1-elem-1-bg.png");
  background-size: 100%;
}

/* line 588, D:/MyProjects/DRConcept2/scss/modules/_sections.scss */
.ninth-section h2,
.ninth-section .h2,
.ninth-section p {
  color: #ffffff;
}

/* line 593, D:/MyProjects/DRConcept2/scss/modules/_sections.scss */
.ninth-section .container {
  padding: 0;
}

/* line 596, D:/MyProjects/DRConcept2/scss/modules/_sections.scss */
.ninth-section .form {
  position: relative;
  z-index: 2;
}

/* LAYOUTS - Page layout styles */
/** Header Style **/
/* line 3, D:/MyProjects/DRConcept2/scss/layouts/_header.scss */
header {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 90px;
  background: transparent;
  z-index: 10;
  color: #FFFFFF;
}

/* line 15, D:/MyProjects/DRConcept2/scss/layouts/_header.scss */
.header-wrap {
  display: table;
  width: 100%;
  height: 90px;
}

/* line 21, D:/MyProjects/DRConcept2/scss/layouts/_header.scss */
.header-left,
.header-center,
.header-right {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
}

/* line 29, D:/MyProjects/DRConcept2/scss/layouts/_header.scss */
.header-left {
  width: 30%;
}

/* line 31, D:/MyProjects/DRConcept2/scss/layouts/_header.scss */
.header-left a {
  display: inline-block;
  width: 100%;
  height: 100%;
}

/* line 35, D:/MyProjects/DRConcept2/scss/layouts/_header.scss */
.header-left a img {
  width: 100%;
  height: 100%;
  max-width: 200px;
}

/* line 43, D:/MyProjects/DRConcept2/scss/layouts/_header.scss */
.header-center {
  text-align: center;
  padding-top: 23px;
}

/* line 46, D:/MyProjects/DRConcept2/scss/layouts/_header.scss */
.header-center address {
  position: relative;
  padding-bottom: 7px;
  display: inline-block;
}

/* line 50, D:/MyProjects/DRConcept2/scss/layouts/_header.scss */
.header-center address::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 113px;
  height: 1px;
  background: rgba(255, 255, 255, 0.5);
}

/* line 63, D:/MyProjects/DRConcept2/scss/layouts/_header.scss */
.header-right {
  text-align: right;
  padding-top: 15px;
}

/* line 66, D:/MyProjects/DRConcept2/scss/layouts/_header.scss */
.header-right a.link-phone {
  display: inline-block;
  margin-right: 40px;
  margin-top: 22px;
  font: 18px/23px "OpenSansBold";
  color: #FFFFFF;
  text-align: center;
}

/* line 73, D:/MyProjects/DRConcept2/scss/layouts/_header.scss */
.header-right a.link-phone span {
  line-height: 20px;
  display: block;
}

/* line 76, D:/MyProjects/DRConcept2/scss/layouts/_header.scss */
.header-right a.link-phone span.time {
  font: 14px/19px "OpenSansRegular";
  text-align: left;
}

/* line 82, D:/MyProjects/DRConcept2/scss/layouts/_header.scss */
.header-right .btn.btn-call {
  line-height: 25px;
  margin-top: 14px;
}

/** Footer Style **/
/* line 3, D:/MyProjects/DRConcept2/scss/layouts/_footer.scss */
footer {
  font: 14px/19px "OpenSansRegular";
  color: #FFFFFF;
  text-align: center;
  position: absolute;
  width: 100%;
  background: transparent;
  left: 0;
  bottom: 0;
}

/* line 12, D:/MyProjects/DRConcept2/scss/layouts/_footer.scss */
footer .container {
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  padding-top: 40px;
  padding-bottom: 40px;
}

/* line 17, D:/MyProjects/DRConcept2/scss/layouts/_footer.scss */
footer a {
  color: #ffffff;
}

/* line 20, D:/MyProjects/DRConcept2/scss/layouts/_footer.scss */
footer .left,
footer .right,
footer .dev {
  display: inline-block;
  width: 33%;
}

/* line 26, D:/MyProjects/DRConcept2/scss/layouts/_footer.scss */
footer .left {
  text-align: right;
  padding-right: 75px;
}

/* line 30, D:/MyProjects/DRConcept2/scss/layouts/_footer.scss */
footer .right {
  text-align: left;
  padding-left: 75px;
}

/* line 33, D:/MyProjects/DRConcept2/scss/layouts/_footer.scss */
footer .right span {
  margin-right: 13px;
}

/* Responsive Layouts Page Style */
/** Use Responsive Style **/
@media only screen and (min-width: 1921px) {
  /* line 5, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  .first-section .base-img {
    overflow: hidden;
  }
  /* line 7, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  .first-section .base-img img {
    height: auto;
  }
  /* line 12, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  .first-section .img-bottom-elem::before {
    background-size: 100%;
  }
  /* line 18, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  .third-section .bg-rot-white-top {
    height: 195px;
    top: -95px;
  }
  /* line 22, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  .third-section .bg-rot-white-bot {
    bottom: -100px;
    height: 200px;
  }
  /* line 28, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  .fifth-section .bg-rot-white-top {
    height: 200px;
    top: -100px;
  }
  /* line 32, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  .fifth-section .bg-rot-white-bot {
    height: 200px;
    bottom: -100px;
  }
  /* line 38, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  .seventh-section .bg-rot-white-bot {
    height: 200px;
    bottom: -100px;
  }
  /* line 44, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  .ninth-section::after {
    height: 155px;
    background-size: 100%;
  }
  /* line 48, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  .ninth-section .base-img {
    overflow: hidden;
  }
  /* line 50, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  .ninth-section .base-img img {
    height: auto;
  }
}

@media only screen and (max-width: 1680px) {
  /* line 58, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  .first-section {
    overflow-x: hidden;
  }
  /* line 61, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  .first-section .img-bottom-elem::before {
    background-size: contain;
  }
  /* line 66, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  .first-section .base-img img {
    width: 1920px;
    margin-left: -15%;
  }
  /* line 72, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  .ninth-section {
    overflow-x: hidden;
  }
  /* line 74, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  .ninth-section::after {
    background-size: contain;
  }
  /* line 77, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  .ninth-section .base-img img {
    width: 1920px;
  }
}

@media only screen and (max-width: 1366px) {
  /* line 90, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  .first-section .base-img img {
    margin-left: -25%;
  }
}

@media only screen and (max-width: 1280px) {
  /* line 98, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  .text-bg p {
    font: 11vw/12vw "Bradobrei";
  }
  /* line 103, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  .first-section .base-img img {
    margin-left: -30%;
  }
}

@media only screen and (max-width: 1024px) {
  /* line 117, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  .third-section .title,
  .fourth-section .title,
  .fifth-section .title,
  .sixth-section .title,
  .seventh-section .title,
  .eighth-section .title {
    padding-left: 20px;
    padding-right: 20px;
  }
  /* line 122, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  .container {
    padding: 0 22px;
  }
  /* line 127, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  .first-section .base-img img {
    margin-left: -50%;
  }
  /* line 133, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  .second-section ul {
    margin: 0px 25% 35px 29%;
  }
  /* line 135, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  .second-section ul li {
    margin-bottom: 50px;
  }
  /* line 141, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  .fourth-section .left {
    width: 100%;
    max-width: 749px;
    display: block;
    margin: 0 auto;
  }
  /* line 147, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  .fourth-section .left li a {
    max-width: 749px;
  }
  /* line 152, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  .fourth-section .right {
    width: 100%;
    max-width: 749px;
    display: block;
    margin: 0 auto;
    padding-left: 0;
    text-align: center;
  }
  /* line 159, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  .fourth-section .right::before {
    width: 1px;
    height: 50px;
    left: 50%;
    top: -85px;
  }
  /* line 165, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  .fourth-section .right .list-video {
    text-align: left;
    padding: 0 19% 0 30%;
  }
  /* line 173, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  .fifth-section .bx-wrapper img {
    display: inline-block;
  }
  /* line 178, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  .fifth-section .rev-slider li {
    display: -webkit-flex;
    display: flex;
    flex-direction: column-reverse;
    -webkit-flex-direction: column-reverse;
  }
  /* line 183, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  .fifth-section .rev-slider li .video {
    display: block;
    margin: 0 auto;
  }
  /* line 187, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  .fifth-section .rev-slider li .peaple {
    display: block;
    margin: 0 auto 20px;
    padding-left: 23px;
    max-width: 100%;
  }
  /* line 192, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  .fifth-section .rev-slider li .peaple::before {
    width: 1px;
    height: 78px;
    left: 25%;
    top: 80%;
  }
  /* line 198, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  .fifth-section .rev-slider li .peaple img {
    margin-right: 25px;
  }
  /* line 201, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  .fifth-section .rev-slider li .peaple .text-wrap {
    display: inline-block;
  }
  /* line 209, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  .sixth-section ul {
    margin: 0 21% 0 25%;
  }
  /* line 211, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  .sixth-section ul li {
    margin-bottom: 50px;
  }
  /* line 217, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  .seventh-section .video,
  .seventh-section .img {
    display: block;
    margin: 0 auto;
  }
  /* line 222, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  .seventh-section .video {
    margin-bottom: 28px;
  }
  /* line 227, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  .eighth-section .img {
    margin-bottom: 15px;
  }
  /* line 229, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  .eighth-section .img::after {
    width: 97px;
    right: 14px;
    top: 73px;
  }
  /* line 235, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  .eighth-section .text-block {
    max-width: 100%;
  }
  /* line 238, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  .eighth-section .subheading {
    position: absolute;
    left: 224px;
    top: 10px;
    max-width: 145px;
  }
}

@media only screen and (max-width: 920px) {
  /* line 249, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  footer .left,
  footer .right,
  footer .dev {
    display: block;
    padding: 0;
    margin-bottom: 35px;
    width: 100%;
    text-align: center;
  }
  /* line 258, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  footer .dev {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 800px) {
  /* line 265, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  header {
    height: 50px;
  }
  /* line 267, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  header .header-wrap {
    height: 50px;
  }
  /* line 270, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  header .header-left {
    width: 80%;
  }
  /* line 272, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  header .header-left a {
    max-width: 119px;
  }
  /* line 276, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  header .header-center {
    position: relative;
    width: 50px;
    height: 50px;
    padding: 0;
  }
  /* line 281, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  header .header-center::before {
    content: "p";
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 21px;
    height: 21px;
    margin: -10.5px 0 0 -10.5px;
    font: 21px/21px 'DR2-font';
    color: #ffffff;
  }
  /* line 293, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  header .header-center address {
    display: none;
  }
  /* line 297, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  header .header-right {
    position: relative;
    width: 50px;
    height: 50px;
    padding: 0;
  }
  /* line 302, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  header .header-right::before {
    content: "f";
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 21px;
    height: 21px;
    margin: -10.5px 0 0 -10.5px;
    font: 21px/21px 'DR2-font';
    color: #ffffff;
  }
  /* line 314, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  header .header-right .link-phone,
  header .header-right a.btn {
    display: none;
  }
  /* line 322, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  .first-section .base-img img {
    margin-left: -80%;
  }
  /* line 327, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  .second-section {
    padding: 100px 0 25px;
  }
  /* line 329, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  .second-section ul {
    margin: 0px 18% 35px 22%;
  }
  /* line 333, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  .third-section {
    padding: 200px 0 100px;
  }
  /* line 335, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  .third-section .item {
    display: block;
    margin: 0 auto 60px;
  }
  /* line 338, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  .third-section .item:last-child {
    margin: 0 auto 60px;
  }
  /* line 344, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  .sixth-section ul {
    margin: 0 19% 0 23%;
  }
  /* line 348, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  .seventh-section {
    padding: 50px 0 100px;
  }
}

@media only screen and (max-width: 768px) {
  /* line 355, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  .bx-controls .bx-controls-direction {
    display: none;
  }
  /* line 359, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  .second-section ul {
    margin: 0px 17% 35px 21%;
  }
  /* line 362, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  .sixth-section ul {
    margin: 0 18% 0 22%;
  }
  /* line 365, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  .ninth-section .base-img img {
    margin-left: -15%;
  }
}

@media only screen and (max-width: 736px) {
  /* line 371, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  .first-section .base-img img {
    margin-left: -90%;
  }
  /* line 375, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  .second-section ul {
    text-align: center;
  }
  /* line 377, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  .second-section ul li {
    text-align: left;
  }
  /* line 382, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  .sixth-section ul li:last-child {
    margin-right: 30px;
  }
}

@media only screen and (max-width: 720px) {
  /* line 390, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  .first-section .base-img img {
    margin-left: -90%;
  }
  /* line 395, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  .second-section ul {
    margin: 0px 15% 35px 19%;
  }
  /* line 398, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  .sixth-section ul {
    margin: 0px 16% 0 20%;
  }
  /* line 401, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  .ninth-section .base-img img {
    margin-left: -20%;
  }
}

@media only screen and (max-width: 667px) {
  /* line 407, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  .first-section .base-img img {
    margin-left: -107%;
  }
}

@media only screen and (max-width: 640px) {
  /* line 415, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  .first-section .base-img img {
    margin-left: -105%;
  }
  /* line 420, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  .second-section ul {
    margin: 0px 8% 35px 12%;
  }
  /* line 423, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  .sixth-section ul {
    margin: 0px 10% 0 14%;
  }
  /* line 427, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  footer .left {
    padding-right: 70px;
  }
  /* line 430, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  footer .right {
    padding-left: 70px;
  }
}

@media only screen and (max-width: 540px) {
  /* line 439, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  .first-section .base-img img {
    margin-left: -140%;
  }
  /* line 444, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  .first-section .first-section-wrap p {
    max-width: 280px;
    margin: 0 auto 65px;
  }
  /* line 447, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  .first-section .first-section-wrap p s,
  .first-section .first-section-wrap p strong {
    display: inline-block;
    width: 49%;
    margin: 10px 0 15px;
  }
  /* line 454, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  .first-section .first-section-wrap p s::after {
    max-width: 46px;
    left: 50%;
    margin-left: -23px;
  }
  /* line 465, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  .second-section ul li {
    display: block;
    margin: 0 auto 40px;
    max-width: 255px;
  }
  /* line 469, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  .second-section ul li .number {
    display: inline-block;
  }
  /* line 471, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  .second-section ul li .number::after {
    width: 1px;
    height: 97px;
    right: 0;
    left: 21px;
  }
  /* line 477, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  .second-section ul li .number span {
    padding-right: 15px;
  }
  /* line 483, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  .second-section ul li:last-child .number::after {
    display: none;
  }
  /* line 488, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  .second-section ul li .subheading {
    display: inline-block;
  }
  /* line 491, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  .second-section ul li .text {
    padding: 0 0 0 65px;
  }
  /* line 497, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  .third-section {
    padding: 100px 0 100px;
  }
  /* line 499, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  .third-section .bg-rot-white-top {
    height: 55px;
    top: -30px;
  }
  /* line 505, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  .fourth-section .bx-viewport {
    max-height: 325px;
  }
  /* line 509, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  .fourth-section .right .list-video {
    padding: 0px 19% 0 26%;
  }
  /* line 518, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  .fifth-section .rev-slider li .peaple::before {
    left: 18%;
    top: 67%;
  }
  /* line 522, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  .fifth-section .rev-slider li .peaple img {
    max-width: 91px;
  }
  /* line 526, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  .fifth-section .rev-slider li .peaple .text-wrap p.subheading {
    font-size: 14px;
    line-height: 19px;
    max-width: 115px;
  }
  /* line 531, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  .fifth-section .rev-slider li .peaple .text-wrap p.text {
    font-size: 14px;
    line-height: 19px;
  }
  /* line 542, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  .sixth-section ul li {
    margin-right: 0;
    text-align: center;
  }
  /* line 548, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  .seventh-section {
    padding: 50px 0 40px;
  }
  /* line 552, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  .seventh-section .video a,
  .seventh-section .img a {
    display: none;
  }
  /* line 554, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  .seventh-section .video a:first-child,
  .seventh-section .img a:first-child {
    display: block;
    max-width: 100%;
    text-align: center;
  }
  /* line 558, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  .seventh-section .video a:first-child img,
  .seventh-section .img a:first-child img {
    max-width: 100%;
  }
  /* line 564, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  .seventh-section .bg-rot-white-bot {
    height: 70px;
    bottom: -50px;
  }
  /* line 571, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  .ninth-section .base-img img {
    margin-left: -45%;
  }
  /* line 577, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  footer .left,
  footer .right {
    display: block;
    width: 100%;
    max-width: 100%;
    text-align: center;
    padding: 0;
  }
  /* line 585, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  footer .right {
    position: absolute;
    bottom: 215px;
    left: 0;
    width: 100%;
  }
}

@media only screen and (max-width: 480px) {
  /* line 596, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  .first-section .base-img img {
    margin-left: -95%;
    width: 1240px;
  }
  /* line 600, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  .first-section .first-section-wrap {
    padding-bottom: 105px;
  }
  /* line 602, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  .first-section .first-section-wrap h1,
  .first-section .first-section-wrap .h1 {
    padding-top: 115px;
    font: 48px/53px 'Bradobrei';
    margin-bottom: 10px;
  }
  /* line 608, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  .first-section .first-section-wrap p {
    margin: 0 auto 50px;
  }
  /* line 611, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  .first-section .first-section-wrap .subtitle {
    font: 18px/23px 'OpenSansSemiBold';
    margin: 0 auto 40px;
  }
  /* line 615, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  .first-section .first-section-wrap .btn {
    max-width: 275px;
    font: 13px/13px "OpenSansBold";
    padding: 22px 20px;
  }
  /* line 623, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  .eighth-section .subheading {
    left: 140px;
  }
  /* line 628, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  .ninth-section .base-img img {
    margin-left: -60%;
  }
  /* line 634, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  .modal-form .form form {
    min-width: 100%;
    padding: 2px;
  }
}

@media only screen and (max-width: 414px) {
  /* line 644, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  header .header-left {
    width: 60%;
  }
  /* line 648, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  .first-section .base-img img {
    margin-left: -117%;
  }
  /* line 651, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  .fifth-section .rev-slider li .peaple .text-wrap {
    max-width: 225px;
  }
  /* line 654, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  .eighth-section .img::after {
    top: 50px;
  }
  /* line 657, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  .eighth-section .subheading {
    left: 115px;
    top: 0px;
  }
  /* line 665, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  .ninth-section .container .form form .btn.btn-red {
    font: 12px/12px "OpenSansBold";
  }
  /* line 672, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  .ninth-section .base-img img {
    margin-left: -80%;
  }
}

@media only screen and (max-width: 401px) {
  /* line 678, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  .fifth-section .rev-slider li .peaple .text-wrap {
    max-width: 210px;
  }
}

@media only screen and (max-width: 375px) {
  /* line 684, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  .first-section .base-img img {
    margin-left: -134%;
  }
  /* line 687, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  .fourth-section .right .list-video {
    padding: 0px 10% 0 10%;
  }
  /* line 690, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  .fifth-section .rev-slider li .peaple .text-wrap {
    max-width: 60%;
  }
  /* line 693, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  .eighth-section .img {
    padding-right: 70px;
  }
  /* line 696, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  .ninth-section .base-img img {
    margin-left: -100%;
  }
}

@media only screen and (max-width: 360px) {
  /* line 702, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  h2,
  .h2 {
    font: 30px/35px "Bradobrei";
  }
  /* line 706, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  .first-section .base-img img {
    margin-left: -144%;
  }
  /* line 713, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  .fifth-section .rev-slider li .peaple::before {
    left: 25%;
  }
  /* line 716, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  .fifth-section .rev-slider li .peaple .text-wrap {
    max-width: 133px;
  }
  /* line 718, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  .fifth-section .rev-slider li .peaple .text-wrap p.subheading {
    margin-bottom: 5px;
  }
  /* line 729, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  .seventh-section .img a img {
    width: 100%;
  }
  /* line 734, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  .seventh-section .bg-rot-white-bot {
    bottom: -45px;
    height: 60px;
  }
  /* line 740, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  .eighth-section .img {
    padding-right: 18px;
  }
  /* line 742, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  .eighth-section .img::after {
    right: -65px;
  }
  /* line 746, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  .eighth-section .subheading {
    left: 155px;
  }
  /* line 751, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  .ninth-section .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  /* line 754, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  .ninth-section .container .form {
    padding-left: 0;
    padding-right: 0;
  }
  /* line 757, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  .ninth-section .container .form form {
    padding-left: 0;
    padding-right: 0;
  }
  /* line 764, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  .ninth-section .base-img img {
    margin-left: -105%;
  }
}

@media only screen and (max-width: 320px) {
  /* line 772, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  .first-section .base-img img {
    margin-left: -167%;
  }
  /* line 779, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  .fourth-section .right .list-video {
    padding: 0;
  }
  /* line 784, D:/MyProjects/DRConcept2/scss/layouts/_responsive.scss */
  .eighth-section .subheading {
    left: 135px;
  }
}

/*# sourceMappingURL=../assets/css/main.map */