/** Base Style Used **/

body {
    position: relative;
    font: $section-text-font;
    color: $gray-color;
}

.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

s {
    position: relative;
    &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        display: block;
        width: 100%;
        height: 1px;
        background: #FFFFFF;
    }
}

h2,
.h2 {
    display: inline-block;
    text-align: center;
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 15px;
    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        display: block;
        width: 60px;
        height: 5px;
        margin-left: -30px;
        background: $heading-line-red-bg;
    }
}

.title {
    text-align: center;
    position: relative;
    z-index: 2;
    p {
        font: $sub-h2-hed-font;
        color: $sub-h2-hed-color;
    }
}

.subheading {
    font: $subheading-font;
    color: $subheading-color;
}

.modal-form {
    display: none;
    padding: 0;
    overflow: initial;
    background: #36184f;
    h3,
    .h3 {
        color: #ffffff;
        text-align: center;
        margin-bottom: 40px;
    }
    &#modal-form-success {
        h3,
        .h3 {
            text-align: left;
            margin-bottom: 10px;
            text-transform: uppercase;
        }
        .text {
            font: 14px/19px 'OpenSansItalic';
            color: #FFFFFF;
        }
    }
    &#modal-form-error {
        background: #b80909;
        h3,
        .h3 {
            margin-bottom: 10px;
            text-transform: uppercase;
        }
        .text {
            font: 14px/19px 'OpenSansItalic';
            color: #FFFFFF;
            text-align: center;
        }
    }
}

.loading {
    background: url('../image/loading.gif') no-repeat center center;
    background-size: 100px 100px;
    box-shadow: inset 0 0 8px 1px rgba(0, 0, 0, 0.2);
}

.video-wrap {
    height: 100%;
    width: 100%;
}
