/** Used Fonts **/


/** OpenSansRegular **/

@font-face {
    font-family: "OpenSansRegular";
    src: url("../fonts/OpenSansRegular/OpenSansRegular.eot");
    src: url("../fonts/OpenSansRegular/OpenSansRegular.eot?#iefix")format("embedded-opentype"), url("../fonts/OpenSansRegular/OpenSansRegular.woff") format("woff"), url("../fonts/OpenSansRegular/OpenSansRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}


/** OpenSansBold **/

@font-face {
    font-family: "OpenSansBold";
    src: url("../fonts/OpenSansBold/OpenSansBold.eot");
    src: url("../fonts/OpenSansBold/OpenSansBold.eot?#iefix")format("embedded-opentype"), url("../fonts/OpenSansBold/OpenSansBold.woff") format("woff"), url("../fonts/OpenSansBold/OpenSansBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}


/** OpenSansItalic **/

@font-face {
    font-family: "OpenSansItalic";
    src: url("../fonts/OpenSansItalic/OpenSansItalic.eot");
    src: url("../fonts/OpenSansItalic/OpenSansItalic.eot?#iefix")format("embedded-opentype"), url("../fonts/OpenSansItalic/OpenSansItalic.woff") format("woff"), url("../fonts/OpenSansItalic/OpenSansItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}


/** OpenSansSemiBold **/

@font-face {
    font-family: "OpenSansSemiBold";
    src: url("../fonts/OpenSansSemiBold/OpenSansSemiBold.eot");
    src: url("../fonts/OpenSansSemiBold/OpenSansSemiBold.eot?#iefix")format("embedded-opentype"), url("../fonts/OpenSansSemiBold/OpenSansSemiBold.woff") format("woff"), url("../fonts/OpenSansSemiBold/OpenSansSemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}


/** Bradobrei **/

@font-face {
    font-family: 'Bradobrei';
    src: url('../fonts/bradobrei/bradobrei.eot');
    src: local('☺'), url('../fonts/bradobrei/bradobrei.woff') format('woff'), url('../fonts/bradobrei/bradobrei.ttf') format('truetype'), url('../fonts/bradobrei/bradobrei.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}


/** DR2 font **/

@font-face {
    font-family: 'DR2-font';
    src: url('../fonts/DR2-font/DR2-font.eot');
    src: local('☺'), url('../fonts/DR2-font/DR2-font.woff') format('woff'), url('../fonts/DR2-font/DR2-font.ttf') format('truetype'), url('../fonts/DR2-font/DR2-font.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
