/** Variables Style Used **/


/** Fonts **/


/* New */

$section-text-font: 14px/19px 'OpenSansRegular';
$btn-call-font: 12px/17px 'OpenSansBold';
$text-bg-font: 149px/154px 'Bradobrei';
$heading-font: 48px/53px 'Bradobrei';
$sub-h2-hed-font: 24px/29px 'OpenSansRegular';
$number-list-font: 36px/36px 'Bradobrei';
$subheading-font: 18px/23px 'OpenSansBold';
$heading-modal-font: 24px/29px 'Bradobrei';

/* End New */

$subheading-font: 18px/23px 'OpenSansBold';
$btn-red-font: 16px/16px 'OpenSansBold';
$side-text-font: 10px/15px 'OpenSansRegular';

/** Color **/


/* New */

$header-text-color: #FFFFFF;
$heading-color: #341a4e;
$sub-h2-hed-color: #010101;
$number-list-color: #341a4e;
$subheading-color: #000000;
$gray-color: #4c4c4c;

/* End New */

$btn-red-color: #ffffff;
$text-bg-gray-color: #fbfbfb;
$text-bg-white-color: #ffffff;
$text-bg-bej-color:#e7dfd0;

/** Background **/


/* New */

$line-bg: rgba(255, 255, 255, 0.5);
$heading-line-red-bg: #eb3857;
$red-line-bg: rgba(235, 56, 87, 0.5);
$gray-bg: #f7f7f7;
$fifth-section-bg: #3d2a50;
$slider-ctrl-bg: #eb3857;

/* End New */

$btn-red-bg-shudow: rgba(170, 50, 75, 0.23);
$btn-red-bg-shudow-hover: rgba(170, 50, 75, 0.5);
$btn-red-hover-bg: #c73553;
$first-section-bot-bg: #f0f0f0;
$first-section-top-bg: #fafafa;
$gold-line-bg: rgba(196, 165, 110, 0.5);
$circle-gray-bg: #cccccc;

/** Border Color **/

$call-bc: #FFFFFF;
$cont-wrap-bc: #f0eadf;
$rev-bc: #c4a56e;
