/** Footer Style **/

footer {
    font: $section-text-font;
    color: #FFFFFF;
    text-align: center;
    position: absolute;
    width: 100%;
    background: transparent;
    left: 0;
    bottom: 0;
    .container {
        border-top: 1px solid rgba(255, 255, 255, 0.4);
        padding-top: 40px;
        padding-bottom: 40px;
    }
    a {
        color: #ffffff;
    }
    .left,
    .right,
    .dev {
        display: inline-block;
        width: 33%;
    }
    .left {
        text-align: right;
        padding-right: 75px;
    }
    .right {
        text-align: left;
        padding-left: 75px;
        span {
            margin-right: 13px;
        }
    }
}
