/** Header Style **/

header {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 90px;
    background: transparent;
    z-index: 10;
    color: $header-text-color;
}

.header-wrap {
    display: table;
    width: 100%;
    height: 90px;
}

.header-left,
.header-center,
.header-right {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
}

.header-left {
    width: 30%;
    a {
        display: inline-block;
        width: 100%;
        height: 100%;
        img {
            width: 100%;
            height: 100%;
            max-width: 200px;
        }
    }
}

.header-center {
    text-align: center;
    padding-top: 23px;
    address {
        position: relative;
        padding-bottom: 7px;
        display: inline-block;
        &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            display: block;
            width: 113px;
            height: 1px;
            background: $line-bg;
        }
    }
}

.header-right {
    text-align: right;
    padding-top: 15px;
    a.link-phone {
        display: inline-block;
        margin-right: 40px;
        margin-top: 22px;
        font: $subheading-font;
        color: #FFFFFF;
        text-align: center;
        span {
            line-height: 20px;
            display: block;
            &.time {
                font: $section-text-font;
                text-align: left;
            }
        }
    }
    .btn.btn-call {
        line-height: 25px;
        margin-top: 14px;
    }
}
