/** Use Responsive Style **/

@media only screen and (min-width: 1921px) {
    .first-section {
        .base-img {
            overflow: hidden;
            img {
                height: auto;
            }
        }
        .img-bottom-elem {
            &::before {
                background-size: 100%;
            }
        }
    }
    .third-section {
        .bg-rot-white-top {
            height: 195px;
            top: -95px;
        }
        .bg-rot-white-bot {
            bottom: -100px;
            height: 200px;
        }
    }
    .fifth-section {
        .bg-rot-white-top {
            height: 200px;
            top: -100px;
        }
        .bg-rot-white-bot {
            height: 200px;
            bottom: -100px;
        }
    }
    .seventh-section {
        .bg-rot-white-bot {
            height: 200px;
            bottom: -100px;
        }
    }
    .ninth-section {
        &::after {
            height: 155px;
            background-size: 100%;
        }
        .base-img {
            overflow: hidden;
            img {
                height: auto;
            }
        }
    }
}

@media only screen and (max-width: 1680px) {
    .first-section {
        overflow-x: hidden;
        .img-bottom-elem {
            &::before {
                background-size: contain;
            }
        }
        .base-img {
            img {
                width: 1920px;
                margin-left: -15%;
            }
        }
    }
    .ninth-section {
        overflow-x: hidden;
        &::after {
            background-size: contain;
        }
        .base-img img {
            width: 1920px;
        }
    }
}

@media only screen and (max-width: 1536px) {}

@media only screen and (max-width: 1440px) {}

@media only screen and (max-width: 1366px) {
    .first-section {
        .base-img {
            img {
                margin-left: -25%;
            }
        }
    }
}

@media only screen and (max-width: 1280px) {
    .text-bg p {
        font: 11vw/12vw "Bradobrei";
    }
    .first-section {
        .base-img {
            img {
                margin-left: -30%;
            }
        }
    }
}

@media only screen and (max-width: 1024px) {
    .third-section,
    .fourth-section,
    .fifth-section,
    .sixth-section,
    .seventh-section,
    .eighth-section {
        .title {
            padding-left: 20px;
            padding-right: 20px;
        }
    }
    .container {
        padding: 0 22px;
    }
    .first-section {
        .base-img {
            img {
                margin-left: -50%;
            }
        }
    }
    .second-section {
        ul {
            margin: 0px 25% 35px 29%;
            li {
                margin-bottom: 50px;
            }
        }
    }
    .fourth-section {
        .left {
            width: 100%;
            max-width: 749px;
            display: block;
            margin: 0 auto;
            li {
                a {
                    max-width: 749px;
                }
            }
        }
        .right {
            width: 100%;
            max-width: 749px;
            display: block;
            margin: 0 auto;
            padding-left: 0;
            text-align: center;
            &::before {
                width: 1px;
                height: 50px;
                left: 50%;
                top: -85px;
            }
            .list-video {
                text-align: left;
                padding: 0 19% 0 30%;
            }
        }
    }
    .fifth-section {
        .bx-wrapper {
            img {
                display: inline-block;
            }
        }
        .rev-slider {
            li {
                display: -webkit-flex;
                display: flex;
                flex-direction: column-reverse;
                -webkit-flex-direction: column-reverse;
                .video {
                    display: block;
                    margin: 0 auto;
                }
                .peaple {
                    display: block;
                    margin: 0 auto 20px;
                    padding-left: 23px;
                    max-width: 100%;
                    &::before {
                        width: 1px;
                        height: 78px;
                        left: 25%;
                        top: 80%;
                    }
                    img {
                        margin-right: 25px;
                    }
                    .text-wrap {
                        display: inline-block;
                    }
                }
            }
        }
    }
    .sixth-section {
        ul {
            margin: 0 21% 0 25%;
            li {
                margin-bottom: 50px;
            }
        }
    }
    .seventh-section {
        .video,
        .img {
            display: block;
            margin: 0 auto;
        }
        .video {
            margin-bottom: 28px;
        }
    }
    .eighth-section {
        .img {
            margin-bottom: 15px;
            &::after {
                width: 97px;
                right: 14px;
                top: 73px;
            }
        }
        .text-block {
            max-width: 100%;
        }
        .subheading {
            position: absolute;
            left: 224px;
            top: 10px;
            max-width: 145px;
        }
    }
}

@media only screen and (max-width: 920px) {
    footer {
        .left,
        .right,
        .dev {
            display: block;
            padding: 0;
            margin-bottom: 35px;
            width: 100%;
            text-align: center;
        }
        .dev {
            margin-bottom: 0;
        }
    }
}

@media only screen and (max-width: 800px) {
    header {
        height: 50px;
        .header-wrap {
            height: 50px;
        }
        .header-left {
            width: 80%;
            a {
                max-width: 119px;
            }
        }
        .header-center {
            position: relative;
            width: 50px;
            height: 50px;
            padding: 0;
            &::before {
                content: "p";
                position: absolute;
                top: 50%;
                left: 50%;
                display: block;
                width: 21px;
                height: 21px;
                margin: -10.5px 0 0 -10.5px;
                font: 21px/21px 'DR2-font';
                color: #ffffff;
            }
            address {
                display: none;
            }
        }
        .header-right {
            position: relative;
            width: 50px;
            height: 50px;
            padding: 0;
            &::before {
                content: "f";
                position: absolute;
                top: 50%;
                left: 50%;
                display: block;
                width: 21px;
                height: 21px;
                margin: -10.5px 0 0 -10.5px;
                font: 21px/21px 'DR2-font';
                color: #ffffff;
            }
            .link-phone,
            a.btn {
                display: none;
            }
        }
    }
    .first-section {
        .base-img {
            img {
                margin-left: -80%;
            }
        }
    }
    .second-section {
        padding: 100px 0 25px;
        ul {
            margin: 0px 18% 35px 22%;
        }
    }
    .third-section {
        padding: 200px 0 100px;
        .item {
            display: block;
            margin: 0 auto 60px;
            &:last-child {
                margin: 0 auto 60px;
            }
        }
    }
    .sixth-section {
        ul {
            margin: 0 19% 0 23%;
        }
    }
    .seventh-section {
        padding: 50px 0 100px;
    }
}

@media only screen and (max-width: 768px) {
    .bx-controls {
        .bx-controls-direction {
            display: none;
        }
    }
    .second-section ul {
        margin: 0px 17% 35px 21%;
    }
    .sixth-section ul {
        margin: 0 18% 0 22%;
    }
    .ninth-section .base-img img {
        margin-left: -15%;
    }
}

@media only screen and (max-width: 736px) {
    .first-section .base-img img {
        margin-left: -90%;
    }
    .second-section {
        ul {
            text-align: center;
            li {
                text-align: left;
            }
        }
    }
    .sixth-section ul li:last-child {
        margin-right: 30px;
    }
}

@media only screen and (max-width: 720px) {
    .first-section {
        .base-img {
            img {
                margin-left: -90%;
            }
        }
    }
    .second-section ul {
        margin: 0px 15% 35px 19%;
    }
    .sixth-section ul {
        margin: 0px 16% 0 20%;
    }
    .ninth-section .base-img img {
        margin-left: -20%;
    }
}

@media only screen and (max-width: 667px) {
    .first-section .base-img img {
        margin-left: -107%;
    }
}

@media only screen and (max-width: 640px) {
    .first-section {
        .base-img {
            img {
                margin-left: -105%;
            }
        }
    }
    .second-section ul {
        margin: 0px 8% 35px 12%;
    }
    .sixth-section ul {
        margin: 0px 10% 0 14%;
    }
    footer {
        .left {
            padding-right: 70px;
        }
        .right {
            padding-left: 70px;
        }
    }
}

@media only screen and (max-width: 540px) {
    .first-section {
        .base-img {
            img {
                margin-left: -140%;
            }
        }
        .first-section-wrap {
            p {
                max-width: 280px;
                margin: 0 auto 65px;
                s,
                strong {
                    display: inline-block;
                    width: 49%;
                    margin: 10px 0 15px;
                }
                s {
                    &::after {
                        max-width: 46px;
                        left: 50%;
                        margin-left: -23px;
                    }
                }
            }
        }
    }
    .second-section {
        ul {
            li {
                display: block;
                margin: 0 auto 40px;
                max-width: 255px;
                .number {
                    display: inline-block;
                    &::after {
                        width: 1px;
                        height: 97px;
                        right: 0;
                        left: 21px;
                    }
                    span {
                        padding-right: 15px;
                    }
                }
                &:last-child {
                    .number {
                        &::after {
                            display: none;
                        }
                    }
                }
                .subheading {
                    display: inline-block;
                }
                .text {
                    padding: 0 0 0 65px;
                }
            }
        }
    }
    .third-section {
        padding: 100px 0 100px;
        .bg-rot-white-top {
            height: 55px;
            top: -30px;
        }
    }
    .fourth-section {
        .bx-viewport {
            max-height: 325px;
        }
        .right {
            .list-video {
                padding: 0px 19% 0 26%;
            }
        }
    }
    .fifth-section {
        .rev-slider {
            li {
                .peaple {
                    &::before {
                        left: 18%;
                        top: 67%;
                    }
                    img {
                        max-width: 91px;
                    }
                    .text-wrap {
                        p.subheading {
                            font-size: 14px;
                            line-height: 19px;
                            max-width: 115px;
                        }
                        p.text {
                            font-size: 14px;
                            line-height: 19px;
                        }
                    }
                }
            }
        }
    }
    .sixth-section {
        ul {
            li {
                margin-right: 0;
                text-align: center;
            }
        }
    }
    .seventh-section {
        padding: 50px 0 40px;
        .video,
        .img {
            a {
                display: none;
                &:first-child {
                    display: block;
                    max-width: 100%;
                    text-align: center;
                    img {
                        max-width: 100%;
                    }
                }
            }
        }
        .bg-rot-white-bot {
            height: 70px;
            bottom: -50px;
        }
    }
    .ninth-section {
        .base-img {
            img {
                margin-left: -45%;
            }
        }
    }
    footer {
        .left,
        .right {
            display: block;
            width: 100%;
            max-width: 100%;
            text-align: center;
            padding: 0;
        }
        .right {
            position: absolute;
            bottom: 215px;
            left: 0;
            width: 100%;
        }
    }
}

@media only screen and (max-width: 480px) {
    .first-section {
        .base-img img {
            margin-left: -95%;
            width: 1240px;
        }
        .first-section-wrap {
            padding-bottom: 105px;
            h1,
            .h1 {
                padding-top: 115px;
                font: 48px/53px 'Bradobrei';
                margin-bottom: 10px;
            }
            p {
                margin: 0 auto 50px;
            }
            .subtitle {
                font: 18px/23px 'OpenSansSemiBold';
                margin: 0 auto 40px;
            }
            .btn {
                max-width: 275px;
                font: 13px/13px "OpenSansBold";
                padding: 22px 20px;
            }
        }
    }
    .eighth-section {
        .subheading {
            left: 140px;
        }
    }
    .ninth-section {
        .base-img img {
            margin-left: -60%;
        }
    }
    .modal-form {
        .form {
            form {
                min-width: 100%;
                padding: 2px;
            }
        }
    }
}

@media only screen and (max-width: 414px) {
    header {
        .header-left {
            width: 60%;
        }
    }
    .first-section .base-img img {
        margin-left: -117%;
    }
    .fifth-section .rev-slider li .peaple .text-wrap {
        max-width: 225px;
    }
    .eighth-section .img::after {
        top: 50px;
    }
    .eighth-section .subheading {
        left: 115px;
        top: 0px;
    }
    .ninth-section {
        .container {
            .form {
                form {
                    .btn.btn-red {
                        font: 12px/12px "OpenSansBold";
                    }
                }
            }
        }
    }
    .ninth-section .base-img img {
        margin-left: -80%;
    }
}

@media only screen and (max-width: 401px) {
    .fifth-section .rev-slider li .peaple .text-wrap {
        max-width: 210px;
    }
}

@media only screen and (max-width: 375px) {
    .first-section .base-img img {
        margin-left: -134%;
    }
    .fourth-section .right .list-video {
        padding: 0px 10% 0 10%;
    }
    .fifth-section .rev-slider li .peaple .text-wrap {
        max-width: 60%;
    }
    .eighth-section .img {
        padding-right: 70px;
    }
    .ninth-section .base-img img {
        margin-left: -100%;
    }
}

@media only screen and (max-width: 360px) {
    h2,
    .h2 {
        font: 30px/35px "Bradobrei";
    }
    .first-section .base-img img {
        margin-left: -144%;
    }
    .fifth-section {
        .rev-slider {
            li {
                .peaple {
                    &::before {
                        left: 25%;
                    }
                    .text-wrap {
                        max-width: 133px;
                        p.subheading {
                            margin-bottom: 5px;
                        }
                    }
                }
            }
        }
    }
    .seventh-section {
        .img {
            a {
                img {
                    width: 100%;
                }
            }
        }
        .bg-rot-white-bot {
            bottom: -45px;
            height: 60px;
        }
    }
    .eighth-section {
        .img {
            padding-right: 18px;
            &::after {
                right: -65px;
            }
        }
        .subheading {
            left: 155px;
        }
    }
    .ninth-section {
        .container {
            padding-left: 20px;
            padding-right: 20px;
            .form {
                padding-left: 0;
                padding-right: 0;
                form {
                    padding-left: 0;
                    padding-right: 0;
                }
            }
        }
    }
    .ninth-section .base-img img {
        margin-left: -105%;
    }
}

@media only screen and (max-width: 320px) {
    .first-section {
        .base-img {
            img {
                margin-left: -167%;
            }
        }
    }
    .fourth-section {
        .right {
            .list-video {
                padding: 0;
            }
        }
    }
    .eighth-section .subheading {
        left: 135px;
    }
}
