/** Buttons Style **/

.btn {
    display: inline-block;
    &.btn-call {
        font: $btn-call-font;
        color: $header-text-color;
        padding: 5px 29px;
        border: 2px solid $call-bc;
        @include border-radius(25px);
        @include add-transition('', '', '', '');
        &:hover {
            background: $call-bc;
            color: #eb3857;
            @include add-transition('', '', '', '');
        }
    }
    &.btn-red {
        text-transform: uppercase;
        color: #ffffff;
        background: rgb(250, 75, 57);
        /* Old Browsers */
        background: -webkit-linear-gradient(left, rgb(250, 75, 57), rgb(223, 39, 113));
        /*Safari 5.1-6*/
        background: -o-linear-gradient(left, rgb(250, 75, 57), rgb(223, 39, 113));
        /*Opera 11.1-12*/
        background: -moz-linear-gradient(left, rgb(250, 75, 57), rgb(223, 39, 113));
        /*Fx 3.6-15*/
        background: linear-gradient(to right, rgb(250, 75, 57), rgb(223, 39, 113));
        /*Standard*/
        padding: 22px 85px;
        margin-bottom: 35px;
        font: $btn-red-font;
        letter-spacing: 1px;
        box-shadow: 0 13px 29px 0 $btn-red-bg-shudow;
        @include border-radius(35px);
        @include add-transition('', '', '', '');
        &:hover {
            box-shadow: 0 13px 29px 0 $btn-red-bg-shudow-hover;
            @include add-transition('', '', '', '');
        }
    }
}
