/** Components Style Used **/


/** Text Background Style **/

.text-bg {
    position: absolute;
    top: 30px;
    width: 100%;
    text-align: center;
    z-index: 1;
    opacity: 0.05;
    p {
        display: inline-block;
        font: $text-bg-font;
        color: $header-text-color;
        text-transform: uppercase;
    }
}


/** Sign Play Style **/

.sign-play {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        display: block;
        width: 66px;
        height: 66px;
        margin: -33px 0 0 -33px;
        background: url('../image/sign-play-video.png') no-repeat;
    }
}


/** Icon Style **/

.icon {
    display: inline-block;
    margin-left: 17px;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.4);
    color: #ffffff;
    text-align: center;
    margin-top: -5px;
    @include add-transition('',
    '',
    '',
    '');
    i {
        vertical-align: middle;
        font-size: 16px;
        line-height: 26px;
    }
    &:hover {
        background: #FFFFFF;
        color: $heading-color;
        @include add-transition('',
        '',
        '',
        '');
    }
}


/** Form Style **/

.form {
    padding: 18px;
    form {
        display: block;
        width: 100%;
        max-width: 416px;
        padding: 48px;
        margin: 0 auto;
        input {
            border: 0;
            outline: none;
            text-indent: 3px;
            &:focus {
                outline: none;
            }
            &[type=text],
            &[type=email] {
                font: 14px/19px 'OpenSansItalic';
                color: #ffffff;
                width: 100%;
                padding: 10px;
                background: transparent;
            }
            &.btn.btn-red {
                padding-left: 15px;
                padding-right: 15px;
                width: 100%;
                text-align: center;
                margin: 43px 0 0 0;
                cursor: pointer;
            }
        }
    }
    .field-wrap {
        width: 100%;
        border-bottom: 1px solid #FFFFFF;
        margin-bottom: 30px;
        &:nth-last-child(2) {
            margin-bottom: 0;
        }
    }
}

// Show Phone and Address
.owerlay-bg {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.header-center.active {
    z-index: 3;
    address {
        position: absolute;
        top: 50px;
        right: -20px;
        display: block;
        width: 200px;
        padding: 20px;
        background: transparent;
        text-align: center;
        border: 1px solid #ffffff;
        &::after {
            display: none;
        }
    }
}

.header-right.active {
    z-index: 3;
    .link-phone {
        position: absolute;
        top: 50px;
        right: -20px;
        display: block;
        width: 200px;
        padding: 20px;
        background: transparent;
        text-align: center;
        margin: 0;
        border: 1px solid #ffffff;
        span {
            line-height: 30px;
            &.time {
                text-align: center;
            }
        }
    }
}
