/** Sections Style **/


/** First Section **/

.first-section {
    position: relative;
    .base-img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        img {
            width: 100%;
            height: 100%;
        }
    }
    .img-filter {
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: url('../image/section-1-elem-1-bg.png');
        background-size: 100%;
    }
    .img-bottom-elem {
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        &::before,
        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            display: block;
            width: 100%;
            height: 100%;
        }
        &::before {
            background: url('../image/section-1-elem-3-bg.png') no-repeat;
            background-position: bottom right;
        }
    }
    .text-bg {
        text-transform: uppercase;
        top: 37%;
    }
}

.first-section-wrap {
    padding-bottom: 305px;
    background-position: 81.7% 26%;
    .container {
        position: relative;
    }
    p {
        font: 18px/23px 'OpenSansRegular';
        margin-bottom: 66px;
        color: #FFFFFF;
        text-align: center;
        strong {
            font-family: 'OpenSansBold';
            font-size: 29.91px;
            i,
            em {
                font-size: 9.49px;
                -webkit-transform: rotate(-90deg);
                -moz-transform: rotate(-90deg);
                -o-transform: rotate(-90deg);
                transform: rotate(-90deg);
                display: inline-block;
                margin-right: -7px;
                margin-top: 2px;
            }
        }
    }
    h1,
    .h1 {
        padding-top: 260px;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 30px;
    }
    .text {
        text-align: center;
        .btn.btn-red {
            margin-left: 15px;
        }
    }
    .subtitle {
        font: 30px/35px 'OpenSansRegular';
        margin-bottom: 60px;
        color: #FFFFFF;
        text-align: center;
    }
    div.img {
        position: absolute;
        top: 0;
        right: 0;
    }
}


/** Second Section Style **/

.second-section {
    position: relative;
    padding: 100px 0;
    background-position: -200px -140px;
    .title {
        margin-bottom: 60px;
    }
    ul {
        margin-bottom: 35px;
        li {
            display: inline-block;
            max-width: 195px;
            margin-right: 25px;
            .number {
                font: $number-list-font;
                color: $number-list-color;
                position: relative;
                margin-bottom: 10px;
                &::after {
                    content: "";
                    position: absolute;
                    top: 15px;
                    right: 0;
                    z-index: -1;
                    display: block;
                    width: 100%;
                    height: 1px;
                    background: $red-line-bg;
                }
                span {
                    background: #ffffff;
                    padding-right: 30px;
                }
            }
            .subheading {
                margin-bottom: 15px;
            }
            .text {
                padding-right: 5px;
            }
        }
    }
}


/** Third Section Style **/

.third-section {
    position: relative;
    padding: 200px 0 250px;
    background: $gray-bg;
    .bg-rot-white-top {
        background: #ffffff;
        width: 100%;
        height: 165px;
        position: absolute;
        top: -90px;
        left: 0;
        transform: skew(0, 4deg);
    }
    .bg-rot-white-bot {
        background: #ffffff;
        width: 100%;
        height: 165px;
        position: absolute;
        bottom: -90px;
        left: 0;
        transform: skew(0, -4deg);
    }
    .title {
        margin-bottom: 60px;
    }
    .container {
        text-align: center;
    }
    .item {
        display: inline-block;
        max-width: 360px;
        text-align: left;
        margin-right: 23px;
        margin-bottom: 30px;
        &:last-child {
            margin-right: 0;
        }
        .img {
            overflow: hidden;
            margin-bottom: 25px;
            img {
                max-width: 100%;
                @include add-transition('',
                '',
                '',
                '');
            }
            &:hover {
                img {
                    @include add-transform(1.2);
                    @include add-transition('',
                    '',
                    '',
                    '');
                }
            }
        }
        .subheading {
            margin-bottom: 10px;
        }
    }
}


/** Fourth Section Style **/

.fourth-section {
    position: relative;
    padding: 45px 0 150px;
    .title {
        margin-bottom: 55px;
    }
    .sign-play {
        background: url('../image/section-1-elem-1-bg.png');
    }
    .left,
    .right {
        display: inline-block;
    }
    .left {
        max-width: 750px;
    }
    .right {
        padding-left: 100px;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            top: 60px;
            left: -110.5px;
            display: block;
            width: 205px;
            height: 1px;
            background: $red-line-bg;
        }
        .list-title {
            color: $gray-color;
            margin-top: 48px;
            margin-bottom: 40px;
        }
        ul {
            -webkit-column-count: 2;
            -moz-column-count: 2;
            column-count: 2;
            -webkit-column-gap: 20px;
            -moz-column-gap: 20px;
            column-gap: 20px;
            margin-bottom: 40px;
            li {
                position: relative;
                padding-left: 17px;
                &::before {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 0;
                    display: block;
                    width: 15px;
                    height: 1px;
                    background: $gray-color;
                }
            }
            a {
                font: 16px/35px 'OpenSansRegular';
                color: $gray-color;
                position: relative;
                &:hover,
                &.active {
                    color: $heading-color;
                }
                &:hover::after,
                &.active::after {
                    content: "";
                    position: absolute;
                    bottom: -5px;
                    left: 0;
                    display: block;
                    width: 100%;
                    height: 1px;
                    background: $heading-color;
                }
            }
        }
    }
    .btn.btn-red {
        padding: 15px 67px;
    }
}


/** Fifth Section Style **/

.fifth-section {
    position: relative;
    background-color: $fifth-section-bg;
    padding: 75px 0 85px;
    color: #FFFFFF;
    .bg-rot-white-top {
        background: $fifth-section-bg;
        width: 100%;
        height: 140px;
        position: absolute;
        top: -68px;
        left: 0;
        transform: skew(0, -4deg);
    }
    .bg-rot-white-bot {
        background: $fifth-section-bg;
        width: 100%;
        height: 140px;
        position: absolute;
        bottom: -70px;
        left: 0;
        transform: skew(0, 4deg);
        z-index: -60;
    }
    .title {
        margin-bottom: 55px;
        h2,
        .h2 {
            color: #FFFFFF;
        }
        p {
            color: #FFFFFF;
        }
    }
    .rev-slider {
        li {
            .video {
                display: inline-block;
                max-width: 653px;
            }
            a {
                position: relative;
                display: inline-block;
                img {
                    max-width: 100%;
                }
            }
            .peaple {
                display: inline-block;
                padding-left: 65px;
                text-align: center;
                position: relative;
                max-width: 40%;
                margin-bottom: 30px;
                &::before {
                    content: "";
                    position: absolute;
                    left: -120px;
                    top: 85px;
                    display: block;
                    width: 165px;
                    height: 1px;
                    background: $red-line-bg;
                }
                .text-wrap {
                    p {
                        &.subheading {
                            margin-bottom: 10px;
                            text-align: left;
                            color: #FFFFFF;
                        }
                        &.text {
                            font-size: 16px;
                            text-align: left;
                        }
                    }
                }
                img {
                    max-width: 100%;
                    margin-bottom: 25px;
                }
            }
        }
    }
}


/** Sixth Section Style **/

.sixth-section {
    position: relative;
    padding: 200px 0 50px;
    .title {
        margin-bottom: 85px;
    }
    ul {
        text-align: center;
        li {
            display: inline-block;
            max-width: 180px;
            text-align: left;
            margin-right: 30px;
            &:last-child {
                margin-right: 0;
            }
            .img {
                height: 39px;
                margin-bottom: 10px;
                img {
                    max-height: 100%;
                    max-width: 100%;
                }
            }
            .subheading {
                margin-bottom: 10px;
            }
        }
    }
}


/** Seventh Section Style **/

.seventh-section {
    position: relative;
    padding: 100px 0;
    .title {
        margin-bottom: 75px;
    }
    .bg-rot-white-bot {
        background: #FFFFFF;
        width: 100%;
        height: 140px;
        position: absolute;
        bottom: -70px;
        left: 0;
        transform: skew(0, 4deg);
        z-index: 1;
    }
    .container-wrap {
        margin-bottom: 165px;
    }
    .video,
    .img {
        display: inline-block;
        max-width: 555px;
    }
    .video {
        position: relative;
    }
    .img {
        margin-left: 21px;
        a {
            display: inline-block;
            max-width: 263px;
            margin-bottom: 30px;
            &:nth-child(even) {
                margin-left: 25px;
            }
            &:nth-last-child(2),
            &:last-child {
                margin-bottom: 0;
            }
        }
        img {
            display: inline-block;
            max-width: 263px;
        }
    }
    .bx-wrapper .bx-pager.bx-default-pager a {
        background: $circle-gray-bg;
        &.active,
        &:hover {
            background: $slider-ctrl-bg;
        }
    }
}


/** Eighth Section Style **/

.eighth-section {
    position: relative;
    background: $gray-bg;
    padding: 155px 0 90px;
    .text-bg {
        top: 115px;
        opacity: 0.5;
    }
    .title {
        margin-bottom: 60px;
    }
    .bx-wrapper .bx-pager.bx-default-pager a {
        background: $circle-gray-bg;
        &.active,
        &:hover {
            background: $slider-ctrl-bg;
        }
    }
    .subheading {
        font-size: 16px;
    }
    .img,
    .text-block {
        display: inline-block;
    }
    .img {
        width: 50%;
        max-width: 293px;
        position: relative;
        padding-right: 98px;
        padding-left: 15px;
        &::after {
            content: "";
            position: absolute;
            right: 36px;
            top: 56px;
            display: block;
            width: 48px;
            height: 1px;
            background: $red-line-bg;
        }
        img {
            width: 100%;
        }
    }
    .text-block {
        max-width: 750px;
        margin-top: -5px;
        .text {
            line-height: 26px;
            margin-bottom: 25px;
        }
    }
}


/** Ninth Section Style **/

.ninth-section {
    position: relative;
    padding: 180px 0 295px;
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 105px;
        background: url('../image/section-9-elem-bg.png') no-repeat;
    }
    .text-bg {
        top: 285px;
    }
    .title {
        margin-bottom: 54px;
    }
    .base-img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        img {
            width: 100%;
            height: 100%;
        }
    }
    .img-filter {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: url('../image/section-1-elem-1-bg.png');
        background-size: 100%;
    }
    h2,
    .h2,
    p {
        color: #ffffff;
    }
    .container {
        padding: 0;
    }
    .form {
        position: relative;
        z-index: 2;
    }
}
