/** Typography Style **/

h1,
.h1 {
    font: 90px/95px 'Bradobrei';
    color: $header-text-color;
    text-transform: uppercase;
}

p.h1 {
    font: 160px/165px 'Klementina' !important;
    color: $heading-color;
    text-transform: uppercase;
}

h2,
.h2 {
    font: $heading-font;
    color: $heading-color;
    text-transform: uppercase;
}

h3,
.h3 {
    font: $heading-modal-font;
    color: $heading-color;
}
